body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  margin: 2rem auto;
  box-sizing: border-box;
  background-color: #b9b9b9;
  max-width: 20rem;
}

#root {
  background-color: #dbdbdb;
  padding: 2rem;
  border-radius: 3px;
  color:rgb(78 69 69);
}

@media (max-width: 400px) {
  body {
    margin: 1rem auto;
  }
}