@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 2rem auto;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  background-color: #b9b9b9;
  max-width: 25rem;
}

#root {
  background-color: #dbdbdb;
  padding: 2rem;
  border-radius: 3px;
  color:rgb(78 69 69);
}

@media (max-width: 400px) {
  body {
    margin: 1rem auto;
  }
}
