.transaction__title {
  margin: 1.5rem 0;
  border-bottom: 1px solid rgb(122, 120, 120);
}

.transaction__title h4 {
  margin: 0;
  margin-bottom: 0.3rem;
}

.tamount__container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.text__container {
  display: flex;
  flex-direction: column;
}